# Analyse Dataset

In [1]:
import pandas as pd
Data = pd.read_csv(r"C:\\Users\\BiG\\Jupyter Lab\\Datamining\\Car Dataset\\CarsDataset.csv")
Data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [2]:
def analyze_dataset(data):
    print('\nThe first rows are : ')
    print(data.head())
    print('\nThe data shape is : ')
    print(data.shape)
    print('\nThe data columns are : ')
    print(data.columns)
    
    print('\n\nThe data columns are : ')
    print(data.dtypes)
    columns = data.columns
    for col in columns:
        print('\n\nAll the unique values for {} are : '.format(col))
        print(data[col].unique())
        
    print('\n\nThe number of unique data columns are : ')
    print(data.nunique())
    print('\n\nThe number of none Null datas are : ')
    print(data.count())
    
    
    print('\n\nThe number of Null datas are : ')

    print(data.isnull().sum())
    print('\n\nThe Info : ')
    print(data.info())

In [3]:
analyze_dataset(Data)

The first rows are :
    Make           Model   Type Origin DriveTrain      MSRP   Invoice  \
0  Acura             MDX    SUV   Asia        All  $36,945   $33,337
1  Acura  RSX Type S 2dr  Sedan   Asia      Front  $23,820   $21,761
2  Acura         TSX 4dr  Sedan   Asia      Front  $26,990   $24,647
3  Acura          TL 4dr  Sedan   Asia      Front  $33,195   $30,299
4  Acura      3.5 RL 4dr  Sedan   Asia      Front  $43,755   $39,014

   EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  \
0         3.5        6.0       265.0      17.0         23.0  4451.0
1         2.0        4.0       200.0      24.0         31.0  2778.0
2         2.4        4.0       200.0      22.0         29.0  3230.0
3         3.2        6.0       270.0      20.0         28.0  3575.0
4         3.5        6.0       225.0      18.0         24.0  3880.0

   Wheelbase  Length
0      106.0   189.0
1      101.0   172.0
2      105.0   183.0
3      108.0   186.0
4      115.0   197.0

The data shape is :
(432, 15)

The data columns are :
Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')


The data columns are :
Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object


All the unique values for Make are :
['Acura' 'Audi' 'BMW' nan 'Buick' 'Cadillac' 'Chevrolet' 'Chrysler'
 'Dodge' 'Ford' 'GMC' 'Honda' 'Hummer' 'Hyundai' 'Infiniti' 'Isuzu'
 'Jaguar' 'Jeep' 'Kia' 'Land Rover' 'Lexus' 'Lincoln' 'MINI' 'Mazda'
 'Mercedes-Benz' 'Mercury' 'Mitsubishi' 'Nissan' 'Oldsmobile' 'Pontiac'
 'Porsche' 'Saab' 'Saturn' 'Scion' 'Subaru' 'Suzuki' 'Toyota' 'Volkswagen'
 'Volvo']


All the unique values for Model are :
['MDX' 'RSX Type S 2dr' 'TSX 4dr' 'TL 4dr' '3.5 RL 4dr'
 '3.5 RL w/Navigation 4dr' 'NSX coupe 2dr manual S' 'A4 1.8T 4dr'
 'A41.8T convertible 2dr' 'A4 3.0 4dr' 'A4 3.0 Quattro 4dr manual'
 'A4 3.0 Quattro 4dr auto' 'A6 3.0 4dr' 'A6 3.0 Quattro 4dr'
 'A4 3.0 convertible 2dr' 'A4 3.0 Quattro convertible 2dr'
 'A6 2.7 Turbo Quattro 4dr' 'A6 4.2 Quattro 4dr' 'A8 L Quattro 4dr'
 'S4 Quattro 4dr' 'RS 6 4dr' 'TT 1.8 convertible 2dr (coupe)'
 'TT 1.8 Quattro 2dr (convertible)' 'TT 3.2 coupe 2dr (convertible)'
 'A6 3.0 Avant Quattro' 'S4 Avant Quattro' 'X3 3.0i' 'X5 4.4i' '325i 4dr'
 '325Ci 2dr' nan '325Ci convertible 2dr' '325xi 4dr' '330i 4dr'
 '330Ci 2dr' '330xi 4dr' '525i 4dr' '330Ci convertible 2dr' '530i 4dr'
 '545iA 4dr' '745i 4dr' '745Li 4dr' 'M3 coupe 2dr' 'M3 convertible 2dr'
 'Z4 convertible 2.5i 2dr' 'Z4 convertible 3.0i 2dr' '325xi Sport'
 'Rainier' 'Rendezvous CX' 'Century Custom 4dr' 'LeSabre Custom 4dr'
 'Regal LS 4dr' 'Regal GS 4dr' 'LeSabre Limited 4dr' 'Park Avenue 4dr'
 'Park Avenue Ultra 4dr' 'Escalade' 'SRX V8' 'CTS VVT 4dr' 'Deville 4dr'
 'Deville DTS 4dr' 'Seville SLS 4dr' 'XLR convertible 2dr' 'Escalade EXT'
 'Suburban 1500 LT' 'Tahoe LT' 'TrailBlazer LT' 'Tracker' 'Aveo 4dr'
 'Aveo LS 4dr hatch' 'Cavalier 2dr' 'Cavalier 4dr' 'Cavalier LS 2dr'
 'Impala 4dr' 'Malibu 4dr' 'Malibu LS 4dr' 'Monte Carlo LS 2dr'
 'Impala LS 4dr' 'Impala SS 4dr' 'Malibu LT 4dr' 'Monte Carlo SS 2dr'
 'Astro' 'Venture LS' 'Corvette 2dr' 'Corvette convertible 2dr'
 'Avalanche 1500' 'Colorado Z85' 'Silverado 1500 Regular Cab'
 'Silverado SS' 'SSR' 'Malibu Maxx LS' 'PT Cruiser 4dr'
 'PT Cruiser Limited 4dr' 'Sebring 4dr' 'Sebring Touring 4dr' '300M 4dr'
 'Concorde LX 4dr' 'Concorde LXi 4dr' 'PT Cruiser GT 4dr'
 'Sebring convertible 2dr' '300M Special Edition 4dr'
 'Sebring Limited convertible 2dr' 'Town and Country LX'
 'Town and Country Limited' 'Crossfire 2dr' 'Pacifica' 'Durango SLT'
 'Neon SE 4dr' 'Neon SXT 4dr' 'Intrepid SE 4dr' 'Stratus SXT 4dr'
 'Stratus SE 4dr' 'Intrepid ES 4dr' 'Caravan SE' 'Grand Caravan SXT'
 'Viper SRT-10 convertible 2dr' 'Dakota Regular Cab' 'Dakota Club Cab'
 'Ram 1500 Regular Cab ST' 'Excursion 6.8 XLT' 'Expedition 4.6 XLT'
 'Explorer XLT V6' 'Escape XLS' 'Focus ZX3 2dr hatch' 'Focus LX 4dr'
 'Focus SE 4dr' 'Focus ZX5 5dr' 'Focus SVT 2dr' 'Taurus LX 4dr'
 'Taurus SES Duratec 4dr' 'Crown Victoria 4dr' 'Crown Victoria LX 4dr'
 'Crown Victoria LX Sport 4dr' 'Freestar SE' 'Mustang 2dr (convertible)'
 'Mustang GT Premium convertible 2dr'
 'Thunderbird Deluxe convert w/hardtop 2d' 'F-150 Regular Cab XL'
 'F-150 Supercab Lariat' 'Ranger 2.3 XL Regular Cab' 'Focus ZTW'
 'Taurus SE' 'Envoy XUV SLE' 'Yukon 1500 SLE' 'Yukon XL 2500 SLT'
 'Safari SLE' 'Canyon Z85 SL Regular Cab' 'Sierra Extended Cab 1500'
 'Sierra HD 2500' 'Sonoma Crew Cab'
 'Civic Hybrid 4dr manual (gas/electric)' 'Insight 2dr (gas/electric)'
 'Pilot LX' 'CR-V LX' 'Element LX' 'Civic DX 2dr' 'Civic HX 2dr'
 'Civic LX 4dr' 'Accord LX 2dr' 'Accord EX 2dr' 'Civic EX 4dr'
 'Civic Si 2dr hatch' 'Accord LX V6 4dr' 'Accord EX V6 2dr' 'Odyssey LX'
 'Odyssey EX' 'S2000 convertible 2dr' 'H2' 'Santa Fe GLS'
 'Accent 2dr hatch' 'Accent GL 4dr' 'Accent GT 2dr hatch'
 'Elantra GLS 4dr' 'Elantra GT 4dr' 'Elantra GT 4dr hatch'
 'Sonata GLS 4dr' 'Sonata LX 4dr' 'XG350 4dr' 'XG350 L 4dr'
 'Tiburon GT V6 2dr' 'G35 4dr' 'G35 Sport Coupe 2dr' 'I35 4dr' 'M45 4dr'
 'Q45 Luxury 4dr' 'FX35' 'FX45' 'Ascender S' 'Rodeo S' 'X-Type 2.5 4dr'
 'X-Type 3.0 4dr' 'S-Type 3.0 4dr' 'S-Type 4.2 4dr' 'S-Type R 4dr'
 'Vanden Plas 4dr' 'XJ8 4dr' 'XJR 4dr' 'XK8 coupe 2dr'
 'XK8 convertible 2dr' 'XKR coupe 2dr' 'XKR convertible 2dr'
 'Grand Cherokee Laredo' 'Liberty Sport' 'Wrangler Sahara convertible 2dr'
 'Sorento LX' 'Optima LX 4dr' 'Rio 4dr manual' 'Rio 4dr auto'
 'Spectra 4dr' 'Spectra GS 4dr hatch' 'Spectra GSX 4dr hatch'
 'Optima LX V6 4dr' 'Amanti 4dr' 'Sedona LX' 'Rio Cinco' 'Range Rover HSE'
 'Discovery SE' 'Freelander SE' 'GX 470' 'LX 470' 'RX 330' 'ES 330 4dr'
 'IS 300 4dr manual' 'IS 300 4dr auto' 'GS 300 4dr' 'GS 430 4dr'
 'LS 430 4dr' 'SC 430 convertible 2dr' 'IS 300 SportCross'
 'Navigator Luxury' 'Aviator Ultimate' 'LS V6 Luxury 4dr'
 'LS V6 Premium 4dr' 'LS V8 Sport 4dr' 'LS V8 Ultimate 4dr'
 'Town Car Signature 4dr' 'Town Car Ultimate 4dr'
 'Town Car Ultimate L 4dr' 'Cooper' 'Cooper S' 'Tribute DX 2.0'
 'Mazda3 i 4dr' 'Mazda3 s 4dr' 'Mazda6 i 4dr' 'MPV ES'
 'MX-5 Miata convertible 2dr' 'MX-5 Miata LS convertible 2dr'
 'RX-8 4dr automatic' 'RX-8 4dr manual' 'B2300 SX Regular Cab'
 'B4000 SE Cab Plus' 'G500' 'ML500' 'C230 Sport 2dr' 'C320 Sport 2dr'
 'C240 4dr' 'C320 Sport 4dr' 'C320 4dr' 'C32 AMG 4dr' 'CL500 2dr'
 'CL600 2dr' 'CLK320 coupe 2dr (convertible)'
 'CLK500 coupe 2dr (convertible)' 'E320 4dr' 'E500 4dr' 'S430 4dr'
 'S500 4dr' 'SL500 convertible 2dr' 'SL55 AMG 2dr' 'SL600 convertible 2dr'
 'SLK230 convertible 2dr' 'SLK32 AMG 2dr' 'C240' 'E320' 'E500'
 'Mountaineer' 'Sable GS 4dr' 'Grand Marquis GS 4dr'
 'Grand Marquis LS Premium 4dr' 'Sable LS Premium 4dr'
 'Grand Marquis LS Ultimate 4dr' 'Marauder 4dr' 'Monterey Luxury'
 'Sable GS' 'Endeavor XLS' 'Montero XLS' 'Outlander LS' 'Lancer ES 4dr'
 'Lancer LS 4dr' 'Galant ES 2.4L 4dr' 'Lancer OZ Rally 4dr auto'
 'Diamante LS 4dr' 'Galant GTS 4dr' 'Eclipse GTS 2dr'
 'Eclipse Spyder GT convertible 2dr' 'Lancer Evolution 4dr'
 'Lancer Sportback LS' 'Pathfinder Armada SE' 'Pathfinder SE'
 'Xterra XE V6' 'Sentra 1.8 4dr' 'Sentra 1.8 S 4dr' 'Altima S 4dr'
 'Sentra SE-R 4dr' 'Altima SE 4dr' 'Maxima SE 4dr' 'Maxima SL 4dr'
 'Quest S' 'Quest SE' '350Z coupe 2dr' '350Z Enthusiast convertible 2dr'
 'Frontier King Cab XE V6' 'Titan King Cab XE' 'Murano SL' 'Alero GX 2dr'
 'Alero GLS 2dr' 'Silhouette GL' 'Aztekt' 'Sunfire 1SA 2dr'
 'Grand Am GT 2dr' 'Grand Prix GT1 4dr' 'Sunfire 1SC 2dr'
 'Grand Prix GT2 4dr' 'Bonneville GXP 4dr' 'Montana' 'Montana EWB'
 'GTO 2dr' 'Vibe' 'Cayenne S' '911 Carrera convertible 2dr (coupe)'
 '911 Carrera 4S coupe 2dr (convert)' '911 Targa coupe 2dr' '911 GT2 2dr'
 'Boxster convertible 2dr' 'Boxster S convertible 2dr' '9-3 Arc Sport 4dr'
 '9-3 Aero 4dr' '9-5 Arc 4dr' '9-5 Aero 4dr' '9-3 Arc convertible 2dr'
 '9-3 Aero convertible 2dr' '9-5 Aero' 'VUE' 'Ion1 4dr' 'lon2 4dr'
 'lon3 4dr' 'lon2 quad coupe 2dr' 'lon3 quad coupe 2dr' 'L300-2 4dr'
 'L300 2' 'xA 4dr hatch' 'xB' 'Impreza 2.5 RS 4dr' 'Legacy L 4dr'
 'Legacy GT 4dr' 'Outback Limited Sedan 4dr' 'Outback H6 4dr'
 'Outback H-6 VDC 4dr' 'Impreza WRX 4dr' 'Impreza WRX STi 4dr' 'Baja'
 'Forester X' 'Outback' 'XL-7 EX' 'Vitara LX' 'Aeno S 4dr' 'Aerio LX 4dr'
 'Forenza S 4dr' 'Forenza EX 4dr' 'Verona LX 4dr' 'Aerio SX'
 'Prius 4dr (gas/electric)' 'Sequoia SR5' '4Runner SR5 V6' 'Highlander V6'
 'Land Cruiser' 'RAV4' 'Corolla CE 4dr' 'Corolla S 4dr' 'Corolla LE 4dr'
 'Echo 2dr manual' 'Echo 2dr auto' 'Echo 4dr' 'Camry LE 4dr'
 'Camry LE V6 4dr' 'Camry Solara SE 2dr' 'Camry Solara SE V6 2dr'
 'Avalon XL 4dr' 'Camry XLE V6 4dr' 'Camry Solara SLE V6 2dr'
 'Avalon XLS 4dr' 'Sienna CE' 'Sienna XLE Limited' 'Celica GT-S 2dr'
 'MR2 Spyder convertible 2dr' 'Tacoma' 'Tundra Regular Cab V6'
 'Tundra Access Cab V6 SR5' 'Matrix XR' 'Touareg V6' 'Golf GLS 4dr'
 'GTI 1.8T 2dr hatch' 'Jetta GLS TDI 4dr' 'New Beetle GLS 1.8T 2dr'
 'Jetta GLI VR6 4dr' 'New Beetle GLS convertible 2dr' 'Passat GLS 4dr'
 'Passat GLX V6 4MOTION 4dr' 'Passat W8 4MOTION 4dr' 'Phaeton 4dr'
 'Phaeton W12 4dr' 'Jetta GL' 'Passat GLS 1.8T' 'Passat W8' 'XC90 T6'
 'S40 4dr' 'S60 2.5 4dr' 'S60 T5 4dr' 'S60 R 4dr' 'S80 2.9 4dr'
 'S80 2.5T 4dr' 'C70 LPT convertible 2dr' 'C70 HPT convertible 2dr'
 'S80 T6 4dr' 'V40' 'XC70']


All the unique values for Type are :
['SUV' 'Sedan' 'Sports' 'Wagon' nan 'Truck' 'Hybrid']


All the unique values for Origin are :
['Asia' 'Europe' nan 'USA']


All the unique values for DriveTrain are :
['All' 'Front' 'Rear' nan]


All the unique values for MSRP are :
['$36,945 ' '$23,820 ' '$26,990 ' '$33,195 ' '$43,755 ' '$46,100 '
 '$89,765 ' '$25,940 ' '$35,940 ' '$31,840 ' '$33,430 ' '$34,480 '
 '$36,640 ' '$39,640 ' '$42,490 ' '$44,240 ' '$42,840 ' '$49,690 '
 '$69,190 ' '$48,040 ' '$84,600 ' '$37,390 ' '$40,590 ' '$40,840 '
 '$49,090 ' '$37,000 ' '$52,195 ' '$28,495 ' '$30,795 ' nan '$37,995 '
 '$30,245 ' '$35,495 ' '$36,995 ' '$37,245 ' '$39,995 ' '$44,295 '
 '$44,995 ' '$54,995 ' '$69,195 ' '$73,195 ' '$48,195 ' '$56,595 '
 '$33,895 ' '$41,045 ' '$32,845 ' '$37,895 ' '$26,545 ' '$22,180 '
 '$26,470 ' '$24,895 ' '$28,345 ' '$32,245 ' '$35,545 ' '$40,720 '
 '$52,795 ' '$46,995 ' '$30,835 ' '$45,445 ' '$50,595 ' '$47,955 '
 '$76,200 ' '$52,975 ' '$42,735 ' '$41,465 ' '$30,295 ' '$20,255 '
 '$11,690 ' '$12,585 ' '$14,610 ' '$14,810 ' '$16,385 ' '$21,900 '
 '$18,995 ' '$20,370 ' '$21,825 ' '$25,000 ' '$27,995 ' '$23,495 '
 '$24,225 ' '$26,395 ' '$27,020 ' '$44,535 ' '$51,535 ' '$36,100 '
 '$18,760 ' '$20,310 ' '$40,340 ' '$41,995 ' '$22,225 ' '$17,985 '
 '$22,000 ' '$19,090 ' '$21,840 ' '$29,865 ' '$24,130 ' '$26,860 '
 '$25,955 ' '$25,215 ' '$33,295 ' '$30,950 ' '$27,490 ' '$38,380 '
 '$34,495 ' '$31,230 ' '$32,235 ' '$13,670 ' '$15,040 ' '$22,035 '
 '$18,820 ' '$20,220 ' '$24,885 ' '$21,795 ' '$32,660 ' '$81,795 '
 '$17,630 ' '$20,300 ' '$20,215 ' '$41,475 ' '$34,560 ' '$29,670 '
 '$22,515 ' '$13,270 ' '$13,730 ' '$15,460 ' '$15,580 ' '$19,135 '
 '$20,320 ' '$22,735 ' '$24,345 ' '$27,370 ' '$30,315 ' '$26,930 '
 '$18,345 ' '$29,380 ' '$37,530 ' '$22,010 ' '$33,540 ' '$14,385 '
 '$17,475 ' '$22,290 ' '$31,890 ' '$35,725 ' '$46,265 ' '$25,640 '
 '$16,530 ' '$25,717 ' '$29,322 ' '$25,395 ' '$20,140 ' '$19,110 '
 '$27,560 ' '$19,860 ' '$18,690 ' '$14,170 ' '$15,850 ' '$22,260 '
 '$17,750 ' '$19,490 ' '$23,760 ' '$26,960 ' '$24,950 ' '$27,450 '
 '$33,260 ' '$49,995 ' '$21,589 ' '$10,539 ' '$11,839 ' '$11,939 '
 '$13,839 ' '$15,389 ' '$19,339 ' '$20,339 ' '$24,589 ' '$26,189 '
 '$18,739 ' '$29,795 ' '$32,445 ' '$31,145 ' '$42,845 ' '$52,545 '
 '$34,895 ' '$36,395 ' '$31,849 ' '$20,449 ' '$29,995 ' '$33,995 '
 '$43,895 ' '$63,120 ' '$68,995 ' '$59,995 ' '$74,995 ' '$69,995 '
 '$81,995 ' '$86,995 ' '$27,905 ' '$20,130 ' '$25,520 ' '$19,635 '
 '$16,040 ' '$10,280 ' '$11,155 ' '$12,360 ' '$13,580 ' '$14,630 '
 '$18,435 ' '$26,000 ' '$20,615 ' '$11,905 ' '$72,250 ' '$39,250 '
 '$25,995 ' '$45,700 ' '$64,800 ' '$39,195 ' '$32,350 ' '$31,045 '
 '$32,415 ' '$41,010 ' '$48,450 ' '$55,750 ' '$63,200 ' '$32,455 '
 '$52,775 ' '$42,915 ' '$32,495 ' '$36,895 ' '$40,095 ' '$43,495 '
 '$41,815 ' '$44,925 ' '$50,470 ' '$16,999 ' '$19,999 ' '$21,087 '
 '$15,500 ' '$17,200 ' '$19,270 ' '$28,750 ' '$22,388 ' '$25,193 '
 '$25,700 ' '$27,200 ' '$14,840 ' '$22,350 ' '$76,870 ' '$46,470 '
 '$26,060 ' '$28,370 ' '$32,280 ' '$33,480 ' '$35,920 ' '$37,630 '
 '$38,830 ' '$52,120 ' '$94,820 ' '$128,420 ' '$45,707 ' '$52,800 '
 '$48,170 ' '$57,270 ' '$74,320 ' '$86,970 ' '$90,520 ' '$121,770 '
 '$126,670 ' '$40,320 ' '$56,170 ' '$33,780 ' '$50,670 ' '$60,670 '
 '$21,595 ' '$24,695 ' '$29,595 ' '$23,895 ' '$30,895 ' '$22,595 '
 '$30,492 ' '$33,112 ' '$18,892 ' '$14,622 ' '$16,722 ' '$19,312 '
 '$17,232 ' '$29,282 ' '$25,092 ' '$26,992 ' '$29,562 ' '$17,495 '
 '$33,840 ' '$27,339 ' '$20,939 ' '$12,740 ' '$14,740 ' '$19,240 '
 '$17,640 ' '$23,290 ' '$29,440 ' '$24,780 ' '$32,780 ' '$26,910 '
 '$34,390 ' '$19,479 ' '$26,650 ' '$28,739 ' '$18,825 ' '$23,675 '
 '$28,790 ' '$15,495 ' '$22,450 ' '$22,395 ' '$17,735 ' '$24,295 '
 '$35,995 ' '$23,845 ' '$31,370 ' '$33,500 ' '$17,045 ' '$56,665 '
 '$79,165 ' '$84,165 ' '$76,765 ' '$192,465 ' '$43,365 ' '$52,365 '
 '$30,860 ' '$33,360 ' '$35,105 ' '$39,465 ' '$40,670 ' '$43,175 '
 '$40,845 ' '$20,585 ' '$10,995 ' '$14,300 ' '$15,825 ' '$14,850 '
 '$16,350 ' '$21,410 ' '$23,560 ' '$12,965 ' '$14,165 ' '$19,945 '
 '$20,445 ' '$25,645 ' '$27,145 ' '$29,345 ' '$31,545 ' '$25,045 '
 '$24,520 ' '$21,445 ' '$23,699 ' '$17,163 ' '$12,884 ' '$14,500 '
 '$12,269 ' '$15,568 ' '$17,262 ' '$16,497 ' '$20,510 ' '$35,695 '
 '$27,710 ' '$27,930 ' '$54,765 ' '$20,290 ' '$14,085 ' '$15,030 '
 '$15,295 ' '$10,760 ' '$11,560 ' '$11,290 ' '$19,560 ' '$22,775 '
 '$21,965 ' '$26,560 ' '$25,920 ' '$26,510 ' '$30,920 ' '$28,800 '
 '$22,570 ' '$25,130 ' '$12,800 ' '$16,495 ' '$25,935 ' '$16,695 '
 '$35,515 ' '$18,715 ' '$19,825 ' '$21,055 ' '$23,785 ' '$23,215 '
 '$23,955 ' '$33,180 ' '$39,235 ' '$65,000 ' '$75,000 ' '$19,005 '
 '$24,955 ' '$40,235 ' '$41,250 ' '$25,135 ' '$31,745 ' '$34,845 '
 '$37,560 ' '$37,730 ' '$37,885 ' '$40,565 ' '$42,565 ' '$45,210 '
 '$26,135 ' '$35,145 ']


All the unique values for Invoice are :
['$33,337 ' '$21,761 ' '$24,647 ' '$30,299 ' '$39,014 ' '$41,100 '
 '$79,978 ' '$23,508 ' '$32,506 ' '$28,846 ' '$30,366 ' '$31,388 '
 '$33,129 ' '$35,992 ' '$38,325 ' '$40,075 ' '$38,840 ' '$44,936 '
 '$64,740 ' '$43,556 ' '$76,417 ' '$32,512 ' '$33,891 ' '$36,739 '
 '$37,060 ' '$44,446 ' '$33,873 ' '$47,720 ' '$26,155 ' '$28,245 ' nan
 '$34,800 ' '$27,745 ' '$32,525 ' '$33,890 ' '$34,115 ' '$36,620 '
 '$40,530 ' '$41,170 ' '$50,270 ' '$63,190 ' '$66,830 ' '$44,170 '
 '$51,815 ' '$31,065 ' '$37,575 ' '$30,110 ' '$34,357 ' '$24,085 '
 '$20,351 ' '$24,282 ' '$22,835 ' '$26,047 ' '$29,566 ' '$32,244 '
 '$36,927 ' '$48,377 ' '$43,523 ' '$28,575 ' '$41,650 ' '$46,362 '
 '$43,841 ' '$70,546 ' '$48,541 ' '$37,422 ' '$36,287 ' '$27,479 '
 '$19,108 ' '$10,965 ' '$11,802 ' '$13,697 ' '$13,884 ' '$15,357 '
 '$20,095 ' '$17,434 ' '$18,639 ' '$20,026 ' '$22,931 ' '$25,672 '
 '$21,551 ' '$22,222 ' '$23,954 ' '$24,518 ' '$39,068 ' '$45,193 '
 '$31,689 ' '$17,070 ' '$18,480 ' '$35,399 ' '$39,306 ' '$20,394 '
 '$16,919 ' '$20,573 ' '$17,805 ' '$20,284 ' '$27,797 ' '$22,452 '
 '$24,909 ' '$24,172 ' '$23,451 ' '$30,884 ' '$28,613 ' '$25,371 '
 '$35,063 ' '$32,033 ' '$28,725 ' '$29,472 ' '$12,849 ' '$14,086 '
 '$20,502 ' '$17,512 ' '$18,821 ' '$23,058 ' '$20,508 ' '$29,812 '
 '$74,451 ' '$16,264 ' '$18,670 ' '$18,076 ' '$36,494 ' '$30,468 '
 '$26,983 ' '$20,907 ' '$12,482 ' '$12,906 ' '$14,496 ' '$14,607 '
 '$17,878 ' '$18,881 ' '$20,857 ' '$22,856 ' '$25,105 ' '$27,756 '
 '$24,498 ' '$16,943 ' '$26,875 ' '$34,483 ' '$19,490 ' '$29,405 '
 '$13,717 ' '$16,375 ' '$20,457 ' '$28,922 ' '$31,361 ' '$40,534 '
 '$23,215 ' '$14,877 ' '$22,604 ' '$25,759 ' '$23,043 ' '$18,451 '
 '$17,911 ' '$24,843 ' '$18,419 ' '$17,334 ' '$12,175 ' '$12,996 '
 '$14,531 ' '$17,924 ' '$20,080 ' '$16,265 ' '$17,849 ' '$21,428 '
 '$24,304 ' '$22,498 ' '$24,744 ' '$29,965 ' '$45,815 ' '$20,201 '
 '$10,107 ' '$11,116 ' '$11,209 ' '$12,781 ' '$14,207 ' '$17,574 '
 '$18,380 ' '$22,055 ' '$23,486 ' '$17,101 ' '$26,157 ' '$27,536 '
 '$29,783 ' '$28,320 ' '$38,792 ' '$47,575 ' '$31,756 ' '$33,121 '
 '$29,977 ' '$19,261 ' '$27,355 ' '$30,995 ' '$40,004 ' '$45,556 '
 '$57,499 ' '$62,846 ' '$54,656 ' '$68,306 ' '$63,756 ' '$74,676 '
 '$79,226 ' '$25,686 ' '$18,973 ' '$23,275 ' '$18,630 ' '$14,910 '
 '$9,875 ' '$10,705 ' '$11,630 ' '$12,830 ' '$13,790 ' '$16,850 '
 '$23,764 ' '$19,400 ' '$11,410 ' '$65,807 ' '$35,777 ' '$23,969 '
 '$39,838 ' '$56,455 ' '$34,576 ' '$28,755 ' '$27,404 ' '$28,611 '
 '$36,196 ' '$42,232 ' '$48,583 ' '$55,063 ' '$28,647 ' '$46,360 '
 '$39,443 ' '$29,969 ' '$33,929 ' '$36,809 ' '$39,869 ' '$38,418 '
 '$41,217 ' '$46,208 ' '$15,437 ' '$18,137 ' '$19,742 ' '$14,525 '
 '$15,922 ' '$17,817 ' '$26,600 ' '$20,701 ' '$23,285 ' '$23,794 '
 '$25,179 ' '$14,070 ' '$20,482 ' '$71,540 ' '$43,268 ' '$24,249 '
 '$26,435 ' '$30,071 ' '$31,187 ' '$33,456 ' '$35,046 ' '$36,162 '
 '$48,522 ' '$88,324 ' '$119,600 ' '$41,966 ' '$49,104 ' '$44,849 '
 '$53,382 ' '$69,168 ' '$80,939 ' '$84,325 ' '$113,388 ' '$117,854 '
 '$37,548 ' '$52,289 ' '$31,466 ' '$47,174 ' '$56,474 ' '$27,317 '
 '$19,848 ' '$23,217 ' '$27,148 ' '$21,918 ' '$28,318 ' '$31,558 '
 '$30,846 ' '$20,748 ' '$28,330 ' '$30,763 ' '$17,569 ' '$13,751 '
 '$15,718 ' '$17,957 ' '$16,196 ' '$27,250 ' '$23,883 ' '$23,456 '
 '$25,218 ' '$27,466 ' '$16,295 ' '$30,815 ' '$25,972 ' '$19,512 '
 '$12,205 ' '$13,747 ' '$18,030 ' '$16,444 ' '$21,580 ' '$25,182 '
 '$26,966 ' '$22,958 ' '$30,019 ' '$25,203 ' '$31,845 ' '$18,253 '
 '$24,926 ' '$27,300 ' '$17,642 ' '$21,485 ' '$26,120 ' '$19,810 '
 '$14,375 ' '$20,595 ' '$20,545 ' '$16,369 ' '$22,284 ' '$32,997 '
 '$21,644 ' '$28,454 ' '$30,710 ' '$15,973 ' '$49,865 ' '$69,229 '
 '$72,206 ' '$67,128 ' '$173,560 ' '$37,886 ' '$45,766 ' '$29,269 '
 '$31,562 ' '$33,011 ' '$37,721 ' '$38,520 ' '$40,883 ' '$38,376 '
 '$19,238 ' '$10,319 ' '$13,393 ' '$14,811 ' '$13,904 ' '$15,299 '
 '$19,801 ' '$21,779 ' '$12,340 ' '$13,480 ' '$18,399 ' '$18,713 '
 '$23,336 ' '$24,687 ' '$26,660 ' '$28,603 ' '$23,022 ' '$29,130 '
 '$22,304 ' '$19,646 ' '$21,773 ' '$22,307 ' '$16,949 ' '$12,719 '
 '$14,317 ' '$12,116 ' '$15,378 ' '$17,053 ' '$16,291 ' '$18,926 '
 '$31,827 ' '$24,801 ' '$24,915 ' '$47,986 ' '$18,553 ' '$13,065 '
 '$13,650 ' '$13,889 ' '$10,144 ' '$10,896 ' '$10,642 ' '$17,558 '
 '$20,325 ' '$17,722 ' '$19,819 ' '$23,693 ' '$23,125 ' '$23,908 '
 '$27,271 ' '$21,198 ' '$25,690 ' '$20,363 ' '$22,787 ' '$11,879 '
 '$14,978 ' '$23,520 ' '$15,156 ' '$32,243 ' '$17,478 ' '$18,109 '
 '$19,638 ' '$21,686 ' '$21,689 ' '$21,898 ' '$30,583 ' '$36,052 '
 '$59,912 ' '$69,130 ' '$17,427 ' '$22,801 ' '$36,956 ' '$38,851 '
 '$23,701 ' '$29,916 ' '$32,902 ' '$35,382 ' '$35,542 ' '$35,688 '
 '$38,203 ' '$40,083 ' '$42,573 ' '$24,641 ' '$33,112 ']


All the unique values for EngineSize are :
[3.5 2.  2.4 3.2 1.8 3.  2.7 4.2 4.4 2.5 nan 3.4 3.1 3.8 5.3 4.6 3.6 6.
 1.6 2.2 4.3 5.7 2.8 3.3 4.7 8.3 3.7 6.8 4.  3.9 5.4 2.3 4.8 1.4 1.7 4.5
 1.3 5.  2.6 5.5 5.6 1.5 1.9 2.9]


All the unique values for Cylinders are :
[ 6.  4.  8. nan 10.  3. 12.  5.]


All the unique values for Horsepower are :
[265. 200. 270. 225. 290. 170. 220. 250. 300. 330. 340. 450. 180. 325.
 184.  nan 333. 275. 185. 175. 205. 240. 295. 320. 255. 345. 165. 103.
 140. 145. 190. 350. 150. 232. 215. 230. 132. 500. 210. 310. 201. 130.
 110. 155. 224. 239. 193. 260. 280. 231. 143. 285.  93.  73. 160. 115.

In [4]:
Data.head(1)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0

## We have to do some preprocessing task on this dataset.

## Fill Null data

In [5]:
least_occuring_value = Data['Make'].value_counts().idxmin()
Data['Make'].fillna(least_occuring_value, inplace=True)

least_occuring_value = Data['Model'].value_counts().idxmin()
Data['Model'].fillna(least_occuring_value, inplace=True)

least_occuring_value = Data['Type'].value_counts().idxmin()
Data['Type'].fillna(least_occuring_value, inplace=True)

least_occuring_value = Data['Origin'].value_counts().idxmin()
Data['Origin'].fillna(least_occuring_value, inplace=True)

least_occuring_value = Data['DriveTrain'].value_counts().idxmin()
Data['DriveTrain'].fillna(least_occuring_value, inplace=True)

Data['EngineSize'].fillna(Data['EngineSize'].mean(), inplace = True)

Data['Cylinders'].fillna(Data['Cylinders'].mean(), inplace = True)

Data['Horsepower'].fillna(Data['Horsepower'].mean(), inplace = True)

Data['MPG_City'].fillna(Data['MPG_City'].mean(), inplace = True)

Data['MPG_Highway'].fillna(Data['MPG_Highway'].mean(), inplace = True)

Data['Weight'].fillna(Data['Weight'].mean(), inplace = True)

Data['Wheelbase'].fillna(Data['Wheelbase'].mean(), inplace = True)

Data['Length'].fillna(Data['Length'].mean(), inplace = True)

In [6]:
Data['MSRP'].fillna('-11', inplace = True)
Data['Invoice'].fillna('-11', inplace = True)
Data[Data['MSRP']=='-11']

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
30,Hummer,MDX,Hybrid,Europe,All,-11,-11,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.36215
39,Hummer,MDX,Hybrid,Europe,All,-11,-11,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.36215
161,Hummer,MDX,Hybrid,Europe,All,-11,-11,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.36215
173,Hummer,MDX,Hybrid,Europe,All,-11,-11,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.36215

In [7]:
Data['MSRP'] = Data['MSRP'].str.replace('$', '').str.replace(',', '').astype(int)
Data['Invoice'] = Data['Invoice'].str.replace('$', '').str.replace(',', '').astype(int)
Data[Data['MSRP']==-11]

C:\Users\BiG\AppData\Local\Temp\ipykernel_2196\2847642417.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Data['MSRP'] = Data['MSRP'].str.replace('$', '').str.replace(',', '').astype(int)
C:\Users\BiG\AppData\Local\Temp\ipykernel_2196\2847642417.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Data['Invoice'] = Data['Invoice'].str.replace('$', '').str.replace(',', '').astype(int)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
30,Hummer,MDX,Hybrid,Europe,All,-11,-11,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.36215
39,Hummer,MDX,Hybrid,Europe,All,-11,-11,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.36215
161,Hummer,MDX,Hybrid,Europe,All,-11,-11,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.36215
173,Hummer,MDX,Hybrid,Europe,All,-11,-11,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.36215

In [8]:
Data['MSRP']=Data['MSRP'].replace(-11,Data['MSRP'].mean())
Data['Invoice']=Data['Invoice'].replace(-11,Data['Invoice'].mean())

In [9]:
Data[Data['MSRP']==-11]

Empty DataFrame
Columns: [Make, Model, Type, Origin, DriveTrain, MSRP, Invoice, EngineSize, Cylinders, Horsepower, MPG_City, MPG_Highway, Weight, Wheelbase, Length]
Index: []

## remove duplicated data

In [10]:
Data = Data.drop_duplicates()

## Show all the records where Origin is Asia.

In [11]:
Data[Data['Origin'].isin(['Asia'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,Toyota,MR2 Spyder convertible 2dr,Sports,Asia,Rear,25130.0,22787.0,1.8,4.0,138.0,26.0,32.0,2195.0,97.0,153.0
401,Toyota,Tacoma,Truck,Asia,Rear,12800.0,11879.0,2.4,4.0,142.0,22.0,27.0,2750.0,103.0,191.0
402,Toyota,Tundra Regular Cab V6,Truck,Asia,Rear,16495.0,14978.0,3.4,6.0,190.0,16.0,18.0,3925.0,128.0,218.0
403,Toyota,Tundra Access Cab V6 SR5,Truck,Asia,All,25935.0,23520.0,3.4,6.0,190.0,14.0,17.0,4435.0,128.0,218.0
404,Toyota,Matrix XR,Wagon,Asia,Front,16695.0,15156.0,1.8,4.0,130.0,29.0,36.0,2679.0,102.0,171.0

## Remove all the records (rows) where Length is above 200.

In [19]:
Data[(Data['Length'] > 200)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,69190.0,64740.0,4.2,8.0,330.0,17.0,24.0,4399.0,121.0,204.0
42,BMW,745Li 4dr,Sedan,Europe,Rear,73195.0,66830.0,4.4,8.0,325.0,18.0,26.0,4464.0,123.0,204.0
55,Buick,Park Avenue 4dr,Sedan,USA,Front,35545.0,32244.0,3.8,6.0,205.0,20.0,29.0,3778.0,114.0,207.0
56,Buick,Park Avenue Ultra 4dr,Sedan,USA,Front,40720.0,36927.0,3.8,6.0,240.0,18.0,28.0,3909.0,114.0,207.0
60,Cadillac,Deville 4dr,Sedan,USA,Front,45445.0,41650.0,4.6,8.0,275.0,18.0,26.0,3984.0,115.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,Toyota,Sequoia SR5,SUV,Asia,All,35695.0,31827.0,4.7,8.0,240.0,14.0,17.0,5270.0,118.0,204.0
402,Toyota,Tundra Regular Cab V6,Truck,Asia,Rear,16495.0,14978.0,3.4,6.0,190.0,16.0,18.0,3925.0,128.0,218.0
403,Toyota,Tundra Access Cab V6 SR5,Truck,Asia,All,25935.0,23520.0,3.4,6.0,190.0,14.0,17.0,4435.0,128.0,218.0
415,Volkswagen,Phaeton 4dr,Sedan,Europe,Front,65000.0,59912.0,4.2,8.0,335.0,16.0,22.0,5194.0,118.0,204.0
416,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,75000.0,69130.0,6.0,12.0,420.0,12.0,19.0,5399.0,118.0,204.0

In [20]:
Data[~(Data['Length'] > 200)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565.0,38203.0,2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565.0,40083.0,2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210.0,42573.0,2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135.0,24641.0,1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145.0,33112.0,2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

## Decrease all the values of 'Horsepower' column by 3.

In [22]:
Data['Horsepower'] =  Data['Horsepower'].apply(lambda x:x-3)

In [23]:
Data

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945.0,33337.0,3.5,6.0,262.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820.0,21761.0,2.0,4.0,197.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,26990.0,24647.0,2.4,4.0,197.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,33195.0,30299.0,3.2,6.0,267.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755.0,39014.0,3.5,6.0,222.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565.0,38203.0,2.4,5.0,194.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565.0,40083.0,2.3,5.0,239.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210.0,42573.0,2.9,6.0,265.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,26135.0,24641.0,1.9,4.0,167.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,35145.0,33112.0,2.5,5.0,205.0,20.0,27.0,3823.0,109.0,186.0

## Find mean MSRP of the data which origin is Asia and make is Acura

In [27]:
Data[(Data['Make']=='Acura') | (Data['Origin']=='Asia')]['MSRP'].mean()

24741.322784810127